:root{
    --electric-blue: #90fcf9ff;
    --maximum-blue: #63b4d1ff;
    --cornflower-blue: #7699d4ff;
    --purple-plum: #9448bcff;
    --russian-violet: #480355ff;
    --smoky-black: #0f0a0aff;
--silver-sand: #bcbdc0ff;
--spanish-gray: #8a8d91ff;
--ocean-blue: #613dc1ff;
--blue-violet-color-wheel: #4e148cff;
}


